<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STOP WAR</title>
</head>
<body>
{% load static %}
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfNcHV6cob4f8QHc90QnpAihMsioOOroSQWNAVHCmwDelHL8w/viewform">
    <p> Нажмите на любую картинку</p>
    <img src="{% static 'stop_war/photo1.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo2.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo3.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo4.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo5.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo6.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo7.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo8.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo9.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo10.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo11.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo12.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo13.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo14.jpg' %}" height="400">
    <img src="{% static 'stop_war/photo15.jpg' %}" height="400">
</a>

</body>
</html>